apiVersion: v1
kind: Service
metadata:
  labels:
    app: apollo-app
  name: apollo-app-service
spec:
  ports:
  - port: {{ .Values.backend.service.port }}
    protocol: TCP
    targetPort: {{ .Values.backend.service.targetPort }}
  selector:
    app: {{ .Values.backend.label | default "apollo-app" }}
  type: {{ .Values.backend.service.type }}